In [1]:
%pip install psycopg2
import psycopg2

Requirement already satisfied: psycopg2 in c:\users\marsh\anaconda3\lib\site-packages (2.9.5)
Note: you may need to restart the kernel to use updated packages.

In [5]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\marsh\anaconda3\lib\site-packages (0.4.1)
Requirement already satisfied: six in c:\users\marsh\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: prettytable<1 in c:\users\marsh\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\marsh\anaconda3\lib\site-packages (from ipython-sql) (1.4.32)
Requirement already satisfied: ipython>=1.0 in c:\users\marsh\anaconda3\lib\site-packages (from ipython-sql) (8.2.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\marsh\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlparse in c:\users\marsh\anaconda3\lib\site-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: traitlets>=5 in c:\users\marsh\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: pygments>=2.4.0 in c:\users\marsh\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.11.2)
Requirement already satisfied: pickleshare in c:\users\marsh\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: setuptools>=18.5 in c:\users\marsh\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (61.2.0)
Requirement already satisfied: decorator in c:\users\marsh\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: colorama in c:\users\marsh\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: backcall in c:\users\marsh\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\marsh\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: matplotlib-inline in c:\users\marsh\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: stack-data in c:\users\marsh\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: jedi>=0.16 in c:\users\marsh\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\marsh\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\marsh\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\marsh\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)
Requirement already satisfied: pure-eval in c:\users\marsh\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)
Requirement already satisfied: asttokens in c:\users\marsh\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)
Requirement already satisfied: executing in c:\users\marsh\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.8.3)

In [7]:
%load_ext sql

In [11]:
### Connect to the local database where Pagila is loaded


DB_ENDPOINT = "localhost"
DB = 'pagila'
DB_USER = 'postgres'
DB_PASSWORD = '1234'
DB_PORT = '5432'

try:
    # postgresql://username:password@host:port/database
    conn_string = "postgresql://{}:{}@{}:{}/{}" \
    .format(DB_USER, DB_PASSWORD, DB_ENDPOINT, DB_PORT, DB)
    print(conn_string)
except psycopg2.Error as e:
    print("Error: Could not make connection to the Postgres database")
    print(e)
%sql $conn_string

postgresql://postgres:1234@localhost:5432/pagila

In [16]:
%%sql

SELECT table_name FROM information_schema.tables WHERE table_schema='public' AND table_type='BASE TABLE';

 * postgresql://postgres:***@localhost:5432/pagila
27 rows affected.

[('film_actor',),
 ('address',),
 ('city',),
 ('actor',),
 ('category',),
 ('country',),
 ('customer',),
 ('film',),
 ('film_category',),
 ('inventory',),
 ('language',),
 ('store',),
 ('payment_p2022_07',),
 ('rental',),
 ('staff',),
 ('payment',),
 ('payment_p2022_03',),
 ('payment_p2022_04',),
 ('payment_p2022_05',),
 ('payment_p2022_06',),
 ('payment_p2022_01',),
 ('payment_p2022_02',),
 ('dimdate',),
 ('factsales',),
 ('dimcustomer',),
 ('dimmovie',),
 ('dimstore',)]

In [43]:
%%sql
SELECT column_name, data_type, character_maximum_length, is_nullable
FROM information_schema.columns
WHERE table_name = 'customer';

 * postgresql://postgres:***@localhost:5432/pagila
10 rows affected.

[('active', 'integer', None, 'YES'),
 ('store_id', 'integer', None, 'NO'),
 ('create_date', 'date', None, 'NO'),
 ('last_update', 'timestamp with time zone', None, 'YES'),
 ('customer_id', 'integer', None, 'NO'),
 ('address_id', 'integer', None, 'NO'),
 ('activebool', 'boolean', None, 'NO'),
 ('first_name', 'text', None, 'NO'),
 ('last_name', 'text', None, 'NO'),
 ('email', 'text', None, 'YES')]

In [44]:
%%sql
-- Q1 -> How to find dublicates
SELECT customer_id,Count(*)
FROM customer
GROUP BY customer_id
HAVING COUNT(*) > 1
LIMIT 10

 * postgresql://postgres:***@localhost:5432/pagila
0 rows affected.

[]

In [42]:
%%sql
-- Q2 -> How to delete dublicates
WITH t1 AS (
    SELECT *, ROW_NUMBER() OVER (PARTITION BY customer_id ORDER BY customer_id) AS RN
    FROM customer
)
SELECT * FROM t1 WHERE RN > 1
-- DELETE FROM t1 WHERE RN > 1
--
--
DELETE FROM customer
WHERE customer_id NOT IN (
    SELECT MIN(customer_id)
    FROM customer
    GROUP BY customer_id
);

 * postgresql://postgres:***@localhost:5432/pagila
0 rows affected.

[]

In [ ]:
%%sql
-- Q3 -> Difference between union & union all
Both UNION and UNION ALL are set operators in PostgreSQL that allow you to combine the results of two or more SELECT statements into a single result set. However, they differ in the way they handle duplicates.
The main difference between UNION and UNION ALL is that UNION eliminates duplicates from the result set, whereas UNION ALL includes all rows, including duplicates.

SELECT emp_id, emp_name, emp_salary FROM employees1
UNION
SELECT emp_id, emp_name, emp_salary FROM employees2;

In [ ]:
%%sql
-- Q4 - > difference between rank , row number and dense rank
RANK(): The RANK() function assigns a unique rank value to each row within a result set based on the specified criteria, and the rank values may not be consecutive. If two or more rows have the same values in the specified criteria, they will receive the same rank value, and the next rank value will be skipped. The next rank value will be incremented by the number of rows that received the same rank value.

ROW_NUMBER(): The ROW_NUMBER() function assigns a unique row number value to each row within a result set, regardless of the values in the specified criteria. The row number values will always be consecutive and start from 1 for the first row.

DENSE_RANK(): The DENSE_RANK() function assigns a unique dense rank value to each row within a result set based on the specified criteria, and the rank values will be consecutive without any gaps. If two or more rows have the same values in the specified criteria, they will receive the same dense rank value, and the next dense rank value will not be skipped.

SELECT *, ROW_NUMBER() OVER (PARTITION BY customer_id ORDER BY customer_id) AS RN
FROM customer

SELECT name, score, DENSE_RANK() OVER (ORDER BY score DESC) AS dense_rank
FROM students;

In [45]:
%%sql
-- Q5 - > Find records in a table which are not present in another table
To find records in one table that are not present in another table in PostgreSQL, you can use a combination of LEFT JOIN and IS NULL. Here's an example:
SELECT * FROM t1
LEFT JOIN t2 ON t1.id=t2.id
WHERE t2.id IS NULL;
OR
SELECT * FROM t1 WHERE t1.id NOT IN (SELECT id FROM t2)

 * postgresql://postgres:***@localhost:5432/pagila
(psycopg2.errors.SyntaxError) syntax error at or near "To"
LINE 2: To find records in one table that are not present in another...
        ^

[SQL: -- Q5 - > Find records in a table which are not present in another table
To find records in one table that are not present in another table in PostgreSQL, you can use a combination of LEFT JOIN and IS NULL. Here's an example:
SELECT * FROM t1
LEFT JOIN t2 ON t1.id=t2.id
WHERE t2.id IS NULL;]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [ ]:
%%sql
-- Q6 - > Find second highest salary employees in each department
SELECT *, DENSE_RANK() OVER (PARTITION BY department_id ORDER BY salary DESC) AS DR FROM employess
WHERE DR = 2

In [ ]:
%%sql
-- Q7 - > Find employees with salary more than their manager's salary

SELECT e.employee_name, e.salary, m.salary as manager_salary
FROM employees e
INNER JOIN employees m ON e.manager_id = m.employee_id
WHERE e.salary > m.salary

In [ ]:
%%sql
-- Q8 - > Difference between inner and left join

Inner Join: An inner join returns only the rows that have matching values in both tables being joined. In other words, it selects only the rows where the join condition is true.

Left Join: A left join returns all the rows from the left (or first) table and the matched rows from the right (or second) table. If there is no matching row in the right table, the result will contain NULL values for all columns of the right table.

In [ ]:
%%sql
-- Q9 - > update a table and swap gender values

UPDATE orders
SET customer_gender = CASE
    WHEN customer_gender = 'M' THEN 'MALE'
    WHEN customer_gender = 'F' THEN 'FEMALE'
END;

In [ ]:
%%sql
-- Q10 - > unmatched results of a join
SELECT *
  FROM accounts
 FULL JOIN sales_reps ON accounts.sales_rep_id = sales_reps.id
 WHERE accounts.sales_rep_id IS NULL OR sales_reps.id IS NULL

In [ ]:
%%sql
-- Q11 - >

In [ ]:
%%sql
-- Q12 - >

In [ ]:
"""
try:
    cur = conn_string.cursor()
except psycopg2.Error as e:
    print("Error: Could not get cursor to the Database")
    print(e)
conn_string.set_session(autocommit=True)
try:
    cur.execute("CREATE TABLE IF NOT EXISTS music_store (transaction_id int, customer_name varchar, \
                                                        cashier_name varchar, year int , albums_purchased text[] )")
except psycopg2.Error as e:
    print("Error: Issue creating table")
    print (e)
"""